@page "/"

@using PizzaPlaceWebAssembly.Client.Components;
@inject IMenuService MenuService;
@inject IOrderService OrderService;

<PageTitle>Index</PageTitle>


@if (State.Menu.Pizzas.Any())
{
    <!-- BASKET -->
<ShoppingBasket
    Orders="@State.Basket.Orders"
    GetPizzaById="@State.Menu.GetPizza"
    OnRemoveItem="@RemoveFromBasket" />

<!-- CUSTOMER -->
<CustomerEntry
    Title="Checkout"
    @bind-Customer="@State.Basket.Customer"
    OnPlaceOrder="@PlaceOrder" />

<!-- MENU -->
<PizzaList 
    Title="Discover the best pizzas in town!"
    Pizzas="@State.Menu.Pizzas"
    OnPizzaSelected="@AddToBasket"
    />
}
else
{
    <h1>Loading...</h1>
}

@code {
    public AppState State { get; set; } = new AppState();

    private string GetSpicyImage(Spiciness spiciness) => $"images/{spiciness.ToString().ToLower()}.jpg";

    private void AddToBasket(Pizza pizza) => State.Basket.Orders.Add(pizza.Id);

    private void RemoveFromBasket(int pos) => State.Basket.Orders.RemoveAt(pos);

    private async Task PlaceOrder()
    {
        await OrderService.PlaceOrder(State.Basket);
    }

    protected override async Task OnInitializedAsync()
    {
        Menu menu = await MenuService.GetMenuAsync();

        foreach (Pizza pizza in menu.Pizzas)
        {
            State.Menu.Add(pizza);
        }
    }
}